@media only screen and (max-width: 1399px) {
   .header__logo {
      margin-left: 50px;
   }
   .title-box {
      margin-left: 50px;
   }
   .main-banner__discriptoin {
      margin-right: 300px;
   }
   .about__content {
      padding: 30px 0 50px 70px;
   }
   }
@media only screen and (max-width: 1199px) {
   .main-banner__discriptoin {
      font-size: 14px;
      line-height: 16px;
      margin: 40px 250px 40px 0;
   }
   .title-form {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 62px;
   }
   .btn--crystal {
      width: 183px;
   }
   .media__title {
      font-size: 18px;
      line-height: 25px;
   }
   .media__discription {
      font-size: 14px;
      line-height: 16px;
   }
   .media__menu {
      margin-top: 20px;
   }
   .fa-brands, .fa-solid {
      font-size: 48px;
   }
   .info__item {
      width: 150px;
   }
   .info__item:nth-child(1) {
      border-bottom: 2px solid #fff;
   }
   .about__title {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 40px;   
   }
   .about__text {
      font-size: 14px;
      line-height: 16px;
   }
   .benefits {
      padding-top: 86px
   }
   .title2 {
      font-size: 24px;
   }
   .title-text {
      margin-bottom: 46px;
   }
   .divider {
      width: 143px;
   }
   .title__discription {
      font-size: 14px;
      line-height: 16px;
      margin-top: 32px;
   }
   .advantage {
      margin-top: 35px;
   }
   .advantage__title {
      font-size: 18px;
   }
   .advantage__text {
      font-size: 14px;
      line-height: 16px;
      margin-top: 45px;
   }
   .pic {
      margin-bottom: 62px;
      width: 80px;
      height: 80px;
   }
   .reviews__text {
      font-size: 14px;
      line-height: 16px;
   }
   .reviews__name {
      font-size: 18px;
      line-height: 24px;
   }
   .reviews__post {
      font-size: 14px;
      line-height: 16px;
   }
   .reviews__foto {
      width: 63px;
      height: 63px;
   }
   .media__menu--lil {
      margin-top: 0;
   }
   .footer__copyright {
      font-size: 14px;
      line-height: 16px;
   }
   .btn--large {
      width: 318px;
   }
}
@media only screen and (max-width: 991px) {
   .title2 {
      font-size: 24px;
      line-height: 28px;
   }
   .header__logo {
      margin-left: 0;
   }
   .header__menu {
      flex-wrap: wrap;
   }
   .header__link {
      font-size: 12px;
      line-height: 16px;
   }
   .header__item {
      min-width: 50px;
   }
   .main-banner {
      padding: 135px 0 100px;
   }
   .title-box {
      margin-left: 0;
   }
   .main-banner__title {
      margin: 50px 0;
   }
   .divider {
      width: 115px;
   }
   .main-banner__discriptoin {
      font-size: 14px;
      line-height: 16px;
      margin: 40px 0;
   }
   .main-banner__form {
      margin-top: 30px;
   }
   .form-inner {
      padding: 20px 30px 50px;
   }
   .title-form {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 50px;
   }
   .btn {
      min-width: 230px;
      min-height: 50px;
      font-size: 16px;
   }
   .media {
      padding-bottom: 10px;
   }
   .media__discription {
      font-size: 12px;
      line-height: 16px
   }
   .media__title {
      margin-bottom: 20px;
   }
   .fa-brands, .fa-solid {
      font-size: 38px;
   }
   .about {
      padding-top: 70px;
   }
   .info__item {
      width: 135px;
   }
   .about__content {
      padding: 30px 0 20px 30px
   }
   .about__title {
      font-size: 21px;
      line-height: 25px;
      margin-bottom:30px;
   }
   .about__text {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 16px;
   }
   .about__block {
      padding: 30px 0 10px;
   }
   .benefits {
      padding: 70px 0 50px;
   }
   .pic {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
   }
   .advantage__text {
      margin-top: 30px;
   }
   .section-price {
      padding-top: 70px;
   }
   .price__title {
      font-size: 20px;
   }
   .price__text {
      font-size: 30px;
      padding: 30px 0;
   }
   .price__discription {
      font-size: 16px;
   }
   .price__item {
      font-size: 16px;
   }
   .section-reviews {
      padding-top: 70px;
   }
   .reviews__text {
      padding: 30px 15px;
   }
   .reviews__info {
      padding-left: 10px;
   }   
   .banner-call {
      padding-top: 70px;
   }
   .communication {
      padding-top: 70px;
   }
}
@media only screen and (max-width: 767px) {
   .header {
      width: 100%;
      position: fixed;
   }
   .mobile-menu__btn {
      display: inline-block;
   }
   .header__menu {
      background-color: rgb(0, 0, 0);
      display: block;
      text-align: center;
      position: fixed;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      top: 75px;
      left: 0;
   }


   /* .header__menu--open {
      opacity: 1;
      visibility: visible;
   } */

   .main-banner {
      padding: 70px 0 70px;
   }
   .title-box {
      text-align: center;
   }
   .main-banner__logo {
      display: none;
   }
   .divider { 
      width: 134px;
      margin: auto;
   }
   .btn--crystal {
   min-width: 270px;
   }
   .form-wrapper {
      margin-left: 100px;
      margin-right: 100px;
   }
   .main-banner__form {
      margin-top: 50px;
   }
   .form__fill {
      font-size: 12px;
      line-height: 16px;
   }
   .media__discription {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 10px;
   }
   .media__info {
      margin-bottom: 0;
   }
   .about {
      padding-top: 70px;
   }
   .about__content {
      text-align: center;
   }
   .about__img {
      display: none;
   }
   .benefits {
      padding-top: 50px;
   }
   .pic {
      margin-bottom: 30px;
   }
   .advantage__text {
      margin-bottom: 15px;
   }
   .section-price {
      padding-top: 50px;
   }
   .price__info--accent {
      transform: translateY(0px);
      filter:none
   }
   .price__info {
      margin-bottom: 25px;
   }
   .reviews__discription {
      margin: 40px 0;
   }
   textarea.form__fill {
      padding-top: 36px;
   }
   .fa-brands--lil, .fa-solid--lil {
      font-size: 24px;
      margin-left: 10px;
   }
   .footer {
      padding: 15px 0 10px;
   }
   .footer__copyright {
      font-size: 12px;
      line-height: 16px;
      margin: 10px;
   }

}
@media only screen and (max-width: 575px) {

   .header__logo {
      display: block;
   }
   .main-banner {
      padding: 84px 0 50px;
   }
   .main-banner__title {
      margin: 0 0 43px;
      font-size: 36px;
      line-height: 42px;
   }

   .info-box {
      text-align: center;
   }
   .fa-brands, .fa-solid {
      font-size: 24px;
   }
   .media__menu {
      margin: 20px 0 20px;
   }
   .info__item {
      width: 95px;
   }
   .about__info {
      padding: 0;
   }
   .about__content {
      text-align: center;
      padding: 20px 30px 20px;
   }
   .about__title {
      font-size: 18px;
      line-height: 24px;
   }
   .title2 {
      font-size: 18px;
      line-height: 21px;
   }
   .price__title {
      font-size: 18px;
      line-height: 25px;
   }
   .price__text {
      font-size: 24px;
      line-height: 28px;
   }
   .price__discription {
      font-size: 14px;
      line-height: 16px;
   }
   .price__item {
      font-size: 14px;
      line-height: 16px;
   }
   .communication__form {
      margin-top: 50px;
   }
   .fa-brands--lil, .fa-solid--lil {
      font-size: 21px;
      margin-left: 0;
   }
   .fa-bars--menu {
      font-size: 35px;
      }
}