@media only screen and (max-width: 1399px) {
   .header__logo {
      margin-left: 50px;
   }
   .title-box {
      margin-left: 50px;
   }
   .main-banner__discriptoin {
      margin-right: 300px;
   }
   .about__content {
      padding: 30px 0 50px 70px;
   }
}
@media only screen and (max-width: 1199px) {
   .main-banner__discriptoin {
      font-size: 14px;
      line-height: 16px;
      margin: 40px 250px 40px 0;
   }
   .title-form {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 62px;
   }
   .btn--crystal {
      width: 183px;
   }
   .media__title {
      font-size: 18px;
      line-height: 25px;
   }
   .media__discription {
      font-size: 14px;
      line-height: 16px;
   }
   .media__menu {
      margin-top: 20px;
   }
   .info__item {
      width: 150px;
   }
   .info__item:nth-child(1) {
      border-bottom: 2px solid #fff;
   }
   .about__title {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 40px;   
   }
   .about__text {
      font-size: 14px;
      line-height: 16px;
   }
   .benefits {
      padding-top: 86px
   }
   .title2 {
      font-size: 24px;
   }
   .title-text {
      margin-bottom: 46px;
   }
   .divider {
      width: 143px;
   }
   .title__discription {
      font-size: 14px;
      line-height: 16px;
      margin-top: 32px;
   }
   .advantage {
      margin-top: 35px;
   }
   .advantage__title {
      font-size: 18px;
      line-height: 25px;
   }
   .advantage__text {
      font-size: 14px;
      line-height: 16px;
      margin-top: 45px;
   }
   .pic {
      margin-bottom: 62px;
      width: 80px;
      height: 80px;
   }
   .reviews__text {
      font-size: 14px;
      line-height: 16px;
   }
   .reviews__name {
      font-size: 18px;
      line-height: 24px;
   }
   .reviews__post {
      font-size: 14px;
      line-height: 16px;
   }
   .reviews__foto {
      width: 63px;
      height: 63px;
   }
   .media__menu--lil {
      margin-top: 0;
   }
   .footer__copyright {
      font-size: 14px;
      line-height: 16px;
   }
   .btn--large {
      width: 318px;
   }
}
@media only screen and (max-width: 991px) {
   
   .title1 {
      font-size: 36px;
      line-height: 42px;
   }
   .title2 {
      font-size: 24px;
      line-height: 28px;
   }
   .header__logo {
      margin-left: 0;
   }
   .header__link {
      font-size: 12px;
      line-height: 16px;
   }
   .header__item {
      min-width: 50px;
   }
   .main-banner {
      padding: 135px 0 100px;
   }
   .title-box {
      margin-left: 0;
   }
   .main-banner__title {
      margin: 50px 0;
   }
   .divider {
      width: 115px;
   }
   .main-banner__discriptoin {
      font-size: 14px;
      line-height: 16px;
      margin: 40px 80px 40px 0;
   }
   .form-wrapper {
      margin-top: 30px;
   }
   .form-inner {
      padding: 20px 30px 50px;
   }
   .title-form {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 50px;
   }
   .btn {
      min-width: 230px;
      min-height: 50px;
      font-size: 16px;
   }
   .media {
      padding-bottom: 10px;
   }
   .media__discription {
      font-size: 12px;
      line-height: 16px
   }
   .media__title {
      margin-bottom: 20px;
   }
   .fa-brands, .fa-solid {
      font-size: 38px;
   }
   .about {
      padding-top: 70px;
   }
   .info__item {
      width: 135px;
   }
   .about__content {
      padding: 30px 0 20px 30px
   }
   .about__title {
      font-size: 21px;
      line-height: 25px;
      margin-bottom:30px;
   }
   .about__text {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 16px;
   }
   .about__block {
      padding: 30px 0 10px;
   }
   .benefits {
      padding: 70px 0 50px;
   }
   .pic {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
   }
   .advantage__text {
      margin-top: 30px;
   }
   .section-price {
      padding-top: 70px;
   }
   .price__title {
      font-size: 20px;
   }
   .price__text {
      font-size: 30px;
      padding: 30px 0;
   }
   .price__discription {
      font-size: 16px;
   }
   .price__item {
      font-size: 16px;
   }
   .section-reviews {
      padding-top: 70px;
   }
   .reviews__text {
      padding: 30px 15px;
   }
   .reviews__info {
      padding-left: 10px;
   }   
   .banner-call {
      padding-top: 70px;
   }
   .communication {
      padding-top: 70px;
   }
}
@media only screen and (max-width: 767px) {
   .header {
      width: 100%;
      position: fixed;
      z-index: 3;
   }
   .header__logo {
      display: block;
      margin-left: 18px;
   }
   .hamburger {
      display: block;
      padding: 20px 0;
   }
   .header__menu {
      background-color: rgb(0, 0, 0);
      display: block;
      text-align: center;
      position: fixed;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      top: 75px;
      left: 0;
      height: 100%;
   }
   .header__menu li {
      transition: all .4s;
   }
   #check-menu:checked ~ .header__menu {
      opacity: 1;
      visibility: visible;
      transition: all .3s;
   }
   #check-menu:checked ~ .hamburger .hamburger-line {
      background-color: transparent;
   }
   #check-menu:checked ~ .hamburger .hamburger-line::before {
      transform: rotate(-45deg);
      top:0;
   }
   #check-menu:checked ~ .hamburger .hamburger-line::after {
      transform: rotate(45deg);
      top:0;
   }
   .main-banner {
      padding: 159px 0 50px;
   }
   .main-banner__title {
      margin: 0 0 43px;
   }
   .main-banner__discriptoin {
      margin: 40px 0;
   }
   .title-box {
      text-align: center;
   }
   .main-banner__logo {
      display: none;
   }
   .divider { 
      width: 134px;
      margin: auto;
   }
   .btn--crystal {
      min-width: 288px;
   }
   .form-wrapper {
      margin: 56px 100px 0;
   }
   .form__fill {
      font-size: 12px;
      line-height: 16px;
   }
   .media__discription {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px;
   }
   .media__info {
      margin-bottom: 0;
   }
   .about {
      padding-top: 41px;
   }
   .about__content {
      text-align: center;
   }
   .about__img {
      display: none;
   }
   .benefits {
      padding-top: 50px;
   }
   .pic {
      margin-bottom: 30px;
   }
   .advantage__text {
      margin-bottom: 15px;
   }
   .section-price {
      padding-top: 50px;
   }
   .price__info--accent {
      transform: translateY(0px);
      filter:none
   }
   .price__info {
      margin-bottom: 25px;
   }
   .price__info:hover {
      transform: scale(1.05);
   }
   .reviews__discription {
      margin: 40px 0;
   }
   .reviews__text {
      padding-top: 50px;
      padding-bottom: 50px;
   }
   .form__data {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      margin-right: 0;
   }
   .form__message {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      margin-left: 0;
   }
   .contacts__btn {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
   }
   .fa-brands--lil, .fa-solid--lil {
      font-size: 24px;
      margin-left: 10px;
   }
   .footer {
      padding: 15px 0 10px;
   }
   .footer__copyright {
      font-size: 12px;
      line-height: 16px;
      margin-top: 44px;
   }
   
}
@media only screen and (max-width: 575px) {
   .hamburger {
      margin-right: 20px;
   }
   .form-wrapper {
      margin-left: 0;
      margin-right: 0;
   }
   .btn--crystal {
      width: 288px;
      padding: 11px 10px;
      font-size: 18px;
   }
   .btn--large {
      width: 288px;
   }
   .media {
      padding: 41px 0 46px;
   }
   .media__menu {
      margin: 0;
   }
   .info-box {
      text-align: center;
   }
   .fa-brands, .fa-solid {
      font-size: 24px;
   }
   .media__title {
      margin-bottom: 23px;
   }
   .media__discription {
      margin-bottom: 34px;
   }
   .media__info {
      margin: 0;
   }
   .info__item {
      width: 95px;
   }
   .about__info {
      padding: 0;
   }
   .about__content {
      text-align: center;
      padding: 43px 23px 30px;
   }
   .about__title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 73px;
   }
   .about__text {
      margin-bottom: 29px;
   }
   .btn {
      width: 243px;
      font-size: 18px;
      line-height: 25px;
      padding: 12px 10px;
   }
   .form__btn {
      width: 100%;
   }
   .benefits {
      padding-bottom: 16px;
   }
   .title2 {
      font-size: 18px;
      line-height: 21px;
   }
   .title-text {
      margin-bottom: 50px;
   }
   .title__discription {
      margin-top: 25px;
      font-size: 13px;
      line-height: 15px;
   }
   .advantage {
      margin-top: 110px;
   }
   .pic {
      width: 80px;
      height: 80px;
      margin-bottom: 61px;
      margin-top: 0;
   }
   .advantage__text {
      margin-top: 38px;
      margin-bottom: 44px;
   }
   .price__title {
      font-size: 18px;
      line-height: 25px;
   }
   .price__text {
      font-size: 24px;
      line-height: 28px;
   }
   .price__discription {
      font-size: 14px;
      line-height: 16px;
   }
   .price__item {
      font-size: 14px;
      line-height: 16px;
   }
   .reviews__discription {
      margin-bottom: 0;
   }
   .communication__form {
      margin-top: 50px;
   }
   .fa-brands--lil, .fa-solid--lil {
      font-size: 21px;
      margin-left: 0;
   }
   .fa-bars--menu {
      font-size: 35px;
   }
   .footer {
      padding: 35px 0 35px;
   }
   
}