*{
   box-sizing: border-box;
}
body {
   font: 400 18px/21px 'Raleway', sans-serif;
   color:#86878B;
}

/*Titles*/
h1,
.title1 {
   font-size: 48px;
   line-height: 56px;
   font-weight: 500;
}
h2,
.title2 {
   font-size: 36px;
   line-height: 42px;
   font-weight: 400;

}
h3,
.title3 {
   font-family: 'Open Sans', sans-serif;
   font-size: 30px;
   line-height: 41px;
   font-weight: 700;
}
h4,
.title4 {
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   line-height: 33px;
   font-weight: 700;
}
.title__discription {
   color: #86878B;
   margin-top: 40px;
   margin-bottom: 0;
}
.title__discription--light {
   color:#fff;
   margin-bottom: 83px;
}
.title-wrap {
   text-align: center;
   color: #000;
}
.title2--light {
   color:#fff;
}
.title-text {
   text-transform:uppercase;
   margin-bottom: 60px;
}


/*Divider*/
.divider { 
   width: 170px;
   border: none;
   border-bottom: 2px solid #EC7979;
   margin-top: 0;
   margin-bottom: 0;
}
.divider--light {
   border-color: #fff;
}
.divider--left {
   border-color: #fff;
   margin-left: 0;
}

/*Buttons*/
.btn {
   font-family: 'Open Sans', sans-serif;
   display: inline-block;
   min-width: 270px;
   min-height: 60px;
   padding: 15px 10px;
   font-size: 18px;
   line-height: 25px;
   font-weight: 600;
   text-decoration: none;
   color: #fff;
   text-align: center;
   cursor: pointer;
}
.btn--crystal { 
   border: 2px solid #FFF;
}
.btn--large {
   width: 370px;
}
.btn--color {
   border: none;
   background-color: #EC7979;
}
.btn--crystal:hover {
   border: 2px solid #EC7979;
   color: #EC7979;
}
.btn--crystal:active {
   background-color: #AB4949;
   border: 2px solid #AB4949;
   color: #fff;
}
.btn--color:hover {
   background-color: #AB4949;
}
.btn--color:active {
   background-color: #EC7979;
   box-shadow: inset 0px 0px 10px #AB4949;
}
.btn-center {
   text-align: center;
}
.form__btn {
   width: 100%;
   font-size: 15px;
   line-height: 20px;
}

/*Header*/
.header {
   background-color: black;
   margin: 0;
   padding: 0;
}
.header__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__logo {
   align-self: center;
   margin-left: -70px;
   height: 75px;
}
.header__menu {
   display: flex;
   justify-content: center;
   margin: 0;
}
.header__item {
   list-style-type: none;
   min-width: 113px;
}
.header__item:hover {
   background-color: #EC7979;
}
.header__item:active {
   background-color: #AB4949;
}
.header__link {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color:#fff;
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   line-height: 19px;
   font-weight: 600;
   text-transform: none;
   padding: 28px 27px; 
   text-align: center;

}

/*main-banner*/
.main-banner {
   background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/banner.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50%;
   padding-bottom: 231px;
   padding-top: 185px;
}
.title-box {
   margin: 0;
   position: relative;   
}
.main-banner__title {
   text-transform: uppercase;
   color: #fff;
   margin-bottom: 55px;
   margin-top: 73px;
}
.main-banner__discriptoin {
   color:#fff;
   margin: 42px 400px 42px 0px;
}
.main-banner__form {
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   position: absolute;
   right: 0px;
   top: 0px;
}
.form-inner {
   padding: 30px 50px 75px;
}
.form__row + .form__row {
margin-top: 15px;
}
.title-form {
   margin-bottom: 75px;
   text-transform: uppercase;
   color: #000;
   text-align: center;
}
.attn {
   color: #EC7979;
   font-style: normal;

}
.form-input {
   font-family: 'Open Sans', sans-serif; 
   font-size: 14px;
   line-height: 19px;
   font-weight: 400;
   width: 100%;
   color: #000;
   border: none;
   border-bottom: 1px solid #BDBDBD;
   padding: 15px 0;
   background: none;
   outline: none;
}
.form-input:focus {
   border-color: #000;
}
.form-input:hover {
   border-color: #000;
}    

.form-input::placeholder {
   color:#BDBDBD;
}
/*Social media*/
.media {
   background-color: #F8EFEF;
   padding-top: 14px;
   padding-bottom: 18px;
}
.media__title {
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   line-height: 33px;
   color:#333;
   text-transform: capitalize;
   margin-top: 0;
   margin-bottom: 32px;
}
.media__discription {
   color: #86878B;
   margin: 0;
}
.media__info {
   padding-top: 30px;
}
.media__menu {
   /* display: flex;
   justify-content:space-between; */
   padding:0
}
/* .media__item {
   list-style-type: none;
   height: 70px;
   width: 70px;
   text-align: center;
   margin-left: 30px;
} */
.media__icon {
   padding-top: 30px;
}

.about {
   padding-top: 100px;  
   padding-bottom: 10px;
}
.info {
   list-style-type: none;
   display:inline-block;
}
.info__item {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   color:#333;
   text-transform:uppercase;
   width: 184px;
   padding: 0;
   background-color: #fff;
   border:none;
   padding-bottom: 9px;
   padding-top: 9px;
}
.info__item:nth-child(1) {
   border-top: 1px solid #C6CBCD;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-left:1px solid #C6CBCD;
   border-right: 1px solid #C6CBCD;
   border-bottom: 1px solid #fff;
   background: #fff;
   margin-bottom: -2px;
}

.about__info {
   display: flex;
   border: 1px solid #C6CBCD;
   width: 1170px;
   height: 501px;
   padding-left: 100px;
}
.about__block {
   margin-right: 30px;
}
.about__title {
   padding-top: 50px;
   margin-top: 0;
   margin-bottom: 77px;
   color:black;
   font-weight: 700;
   line-height: 41px;
}
.about__text {
   margin-bottom: 27px;
   margin-top: 0;
   color: black;
}

/*Advantage*/

.benefits {
   padding-top: 70px;
   padding-bottom: 58px;
}
.advantage {
   margin-top: 80px;
}
.advantage__item {
   list-style-type: none;
   text-align: center;
}
.advantage__title {
   color:black;
   text-transform:capitalize;
   margin: 0px auto;
}
.advantage__text {
   color: black;
   margin-top: 50px;
   margin-bottom: 0;
}
.about__img {
   width: 470px;
   height: 500px;
}
.pic {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #EC7979;
   width: 92px;
   height: 92px;
   border-radius: 50%;
   margin: 30px auto 70px;
}

/*Price*/
.section-price {
   background-color: #F5F5F5;
   padding-bottom: 50px;
   padding-top: 70px;
}
.price {
   text-align: center;
   margin-top: 79px;
}
.price__title {
   background-color: #333;
   color:#fff;
   margin:0px 0px 2px;
   padding: 14px 0;
}
.price__text {
   font-size: 36px;
   font-weight: 700;
   background-color: #333333;
   color:#fff;
   margin:0px 0px 2px;
   padding: 40px 0;
}
.price__discription {
   background-color: #333;
   color:rgba(255, 255, 255, 0.5);
   margin:0px 0px 2px;
   padding: 15px 0;
}
.price__info--accent {
   transform: translateY(-20px);
   filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.price__list {
   list-style-type: none;
   color:#86878B;
   word-spacing: 3px;
   text-align: center;
   text-transform: capitalize;
   padding: 0px;
   margin: 0px auto;
}
.price__item {
   border: 2px solid #F5F5F5;
   padding: 13px;
   background: #FFF;
}

/*Reviews*/
.section-reviews {
   padding-top: 100px;
   padding-bottom: 30px;
}
.reviews {
   margin-top: 83px;
}
.reviews__quote {
   position: relative;
}
.reviews__text::after {
   content: "";
   position: absolute;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 20px solid #E2E2E2;
   top:179px;
   left:70px;
}
.reviews__text{
   color:#86878B;
   background-color:#E2E2E2;
   border-radius: 5px;
   margin: 0px;
   padding: 37px 20px;
   text-align: center;
}
.reviews__discription {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   margin-top: 66px;
}

.reviews__info {
   padding-left: 30px;

}
.reviews__name {
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   font-weight: bold;
   color: black;
}
.reviews__post {
   color:black;
}

.banner-call {
   padding-top: 85px;
   padding-bottom: 50px;
   background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/banner-call.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50%;
}
.communication {
   padding-top: 85px;
   padding-bottom: 50px;
}
.communication__form {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
   margin-top: 74px;
   background: #fff;
}
.form-box {
   padding-right: 30px;
}
.form-box__row {
   width: 570px;
}
.form-box__row + .form-box__row {
   margin-top: 32px;
   }
.form-box__input {
   width: 100%;
   font-family: 'Open Sans', sans-serif; 
   font-size: 14px;
   line-height: 19px;
   font-weight: 400;
   color: #000;
   border: none;
   border-bottom: 1px solid #BDBDBD;
   padding: 15px 0;
   background: none;
   outline: none;
}
.form-box__input:focus {
   border-color: #000;
}

.form-box__input::placeholder {
   color: #BDBDBD;
}

textarea.form-box__input {
   resize: none;
   overflow: auto;
   height: 214px;
}

.footer {
   background-color: black;
   padding-top: 35px;
   padding-bottom: 27px;
}
.footer__info {
   width: 570px;
   text-align: center;
   margin: 0 auto;
}
.footer__menu {
   display: flex;
   justify-content: space-between;
   margin: 0;
}
.footer__item {
   list-style-type: none;
   height: 53px;
   width: 53px;
   text-align: center;
}
.footer__copyright {
   color: rgba(255, 255, 255, 0.5);
   text-align: center;
   margin-top: 28px;
   margin-bottom: 0;
}

