@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   src: local(''),
   url('../fonts/raleway-v26-latin-regular.woff2') format('woff2'),
   url('../fonts/raleway-v26-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 900;
   src: local(''),
   url('../fonts/raleway-v26-latin-900.woff2') format('woff2'), 
   url('../fonts/raleway-v26-latin-900.woff') format('woff'); 
}

body {
   font-family: 'Raleway', sans-serif;
} 

.gallery {
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4, calc(1510px / 4));
   grid-template-rows: auto;
   max-width: 1510px;
}
.gallery__photo {
   max-width: 100%;
}
.item {
   position: relative;
}
.gallery__text {
   display: none;
   position: absolute;
}
.item:hover > .gallery__text {
   display: block;
}
